html,body{
	height:100%;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.ani{
	position:absolute;
}
img{
	display:block;
}
/* sections */
.section1{
	background: url(../images/s1bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section2{
	background: url(../images/s2bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section3{
	background: url(../images/s3bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section4{
	background: url(../images/s4bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section5{
	background-color: #fff;
	background-size:100% 100%;
}

