html,body{
	height:100%;
	margin:0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.ani{
	position:absolute;
}
img{
	display:block;
}
.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background: #fff;
	opacity: .4;
}
#array{
	position:absolute;z-index:999;-webkit-animation: start 1.5s infinite ease-in-out;
}
.swiper-pagination-bullet-active {
	opacity: 1;
}
@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
	60% {opacity: 1;-moz-transform: translate(0,0);}
	100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
	0%,30% {opacity: 0;transform: translate(0,10px);}
	60% {opacity: 1;transform: translate(0,0);}
	100% {opacity: 0;transform: translate(0,-8px);}
}
/* sections */
.section1{
	background: url(../images/s1bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section2{
	background: url(../images/s2bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section3{
	background: url(../images/s3bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section4{
	background: url(../images/s4bg.jpg) no-repeat center center;
	background-size:100% 100%;
}
.section5{
	background-color: #fff;
	background-size:100% 100%;
}

